name: Lint Python

on:
  workflow_dispatch:
  push:
    branches: master
  pull_request:
    paths:
      - "**.py"
      - "**.pyi"
      - .github/workflows/lint-python.yaml
      - pyproject.toml
      - uv.lock

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

env:
  UV_FROZEN: 1

jobs:
  ruff-lint:
    name: Check code formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
          version: "0.7.5"

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"

      - name: Run ruff format
        run: |
          uv run --group lint ruff format
          git diff --exit-code

      - name: Run ruff check
        run: uv run --group lint ruff check

  typing-lint:
    name: Check code typing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
          version: "0.7.5"

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Run Pyright
        run: PYGOBJECT_STUB_CONFIG=Gtk3,Gdk3,Soup2 uv run --group lint pyright src
